Meta
.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.cc
src/*.h
src/*.o
src/*.so
src/*.dll

# Project specific
sigfit.Rproj
src/Modules.cpp
src/include/models.hpp
src/include/models.hpp.bak
tools/make_cpp.Rout
src/RcppExports.cpp
